## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [135]:
# 設定 data_path
dir_data = r'D:\GitHub\ML100Days\homework\data'

In [136]:
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
f_app1 = os.path.join(dir_data, 'POS_CASH_balance.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app,sep=',',engine='python')   #資料由","分割
app_train1= pd.read_csv(f_app1,sep=',',engine='python')

Path of read in data: D:\GitHub\ML100Days\homework\data\HomeCredit_columns_description.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

須知資料的行列數可利用物件導向中的shape幫我們得知，下方"HomeCredit_columns_description.csv"資料當中擁有219列，且每列包含5個的變數。
而另一筆資料為'POS_CASH_balance.csv'，資料量龐大擁有10001358列，且每列包含8個的變數

In [34]:
app_train.shape

(219, 5)

In [36]:
app_train1.shape

(10001358, 8)

#### 列出所有欄位

In [22]:
print(app_train) # 列出所有欄位

     Unnamed: 0                         Table                         Row  \
0             1  application_{train|test}.csv                  SK_ID_CURR
1             2  application_{train|test}.csv                      TARGET
2             5  application_{train|test}.csv          NAME_CONTRACT_TYPE
3             6  application_{train|test}.csv                 CODE_GENDER
4             7  application_{train|test}.csv                FLAG_OWN_CAR
5             8  application_{train|test}.csv             FLAG_OWN_REALTY
6             9  application_{train|test}.csv                CNT_CHILDREN
7            10  application_{train|test}.csv            AMT_INCOME_TOTAL
8            11  application_{train|test}.csv                  AMT_CREDIT
9            12  application_{train|test}.csv                 AMT_ANNUITY
10           13  application_{train|test}.csv             AMT_GOODS_PRICE
11           14  application_{train|test}.csv             NAME_TYPE_SUITE
12           15  application_{train|test}.csv            NAME_INCOME_TYPE
13           16  application_{train|test}.csv         NAME_EDUCATION_TYPE
14           17  application_{train|test}.csv          NAME_FAMILY_STATUS
15           18  application_{train|test}.csv           NAME_HOUSING_TYPE
16           19  application_{train|test}.csv  REGION_POPULATION_RELATIVE
17           20  application_{train|test}.csv                  DAYS_BIRTH
18           21  application_{train|test}.csv               DAYS_EMPLOYED
19           22  application_{train|test}.csv           DAYS_REGISTRATION
20           23  application_{train|test}.csv             DAYS_ID_PUBLISH
21           24  application_{train|test}.csv                 OWN_CAR_AGE
22           25  application_{train|test}.csv                  FLAG_MOBIL
23           26  application_{train|test}.csv              FLAG_EMP_PHONE
24           27  application_{train|test}.csv             FLAG_WORK_PHONE
25           28  application_{train|test}.csv            FLAG_CONT_MOBILE
26           29  application_{train|test}.csv                  FLAG_PHONE
27           30  application_{train|test}.csv                  FLAG_EMAIL
28           31  application_{train|test}.csv             OCCUPATION_TYPE
29           32  application_{train|test}.csv             CNT_FAM_MEMBERS
..          ...                           ...                         ...
189         192      previous_application.csv      NAME_CASH_LOAN_PURPOSE
190         193      previous_application.csv        NAME_CONTRACT_STATUS
191         194      previous_application.csv               DAYS_DECISION
192         195      previous_application.csv           NAME_PAYMENT_TYPE
193         196      previous_application.csv          CODE_REJECT_REASON
194         197      previous_application.csv             NAME_TYPE_SUITE
195         198      previous_application.csv            NAME_CLIENT_TYPE
196         199      previous_application.csv         NAME_GOODS_CATEGORY
197         200      previous_application.csv              NAME_PORTFOLIO
198         201      previous_application.csv           NAME_PRODUCT_TYPE
199         202      previous_application.csv                CHANNEL_TYPE
200         203      previous_application.csv            SELLERPLACE_AREA
201         204      previous_application.csv        NAME_SELLER_INDUSTRY
202         205      previous_application.csv                 CNT_PAYMENT
203         206      previous_application.csv            NAME_YIELD_GROUP
204         207      previous_application.csv         PRODUCT_COMBINATION
205         208      previous_application.csv          DAYS_FIRST_DRAWING
206         209      previous_application.csv              DAYS_FIRST_DUE
207         210      previous_application.csv   DAYS_LAST_DUE_1ST_VERSION
208         211      previous_application.csv               DAYS_LAST_DUE
209         212      previous_application.csv            DAYS_TERMINATION
210         213      previous_application.csv   NFLAG_INSURED_ON_APPROVAL
211         214     installments_payments.csv                 SK_ID_PREV
212         215     installments_payments.csv                  SK_ID_CURR
213         216     installments_payments.csv      NUM_INSTALMENT_VERSION
214         217     installments_payments.csv       NUM_INSTALMENT_NUMBER
215         218     installments_payments.csv             DAYS_INSTALMENT
216         219     installments_payments.csv          DAYS_ENTRY_PAYMENT
217         220     installments_payments.csv              AMT_INSTALMENT
218         221     installments_payments.csv                 AMT_PAYMENT

                                           Description  \
0                             ID of loan in our sample
1    Target variable (1 - client with payment diffi...
2          Identification if loan is cash or revolving
3                                 Gender of the client
4                        Flag if the client owns a car
5                  Flag if client owns a house or flat
6                    Number of children the client has
7                                 Income of the client
8                            Credit amount of the loan
9                                         Loan annuity
10   For consumer loans it is the price of the good...
11   Who was accompanying client when he was applyi...
12   Clients income type (businessman, working, mat...
13      Level of highest education the client achieved
14                         Family status of the client
15   What is the housing situation of the client (r...
16   Normalized population of region where client l...
17     Client's age in days at the time of application
18   How many days before the application the perso...
19   How many days before the application did clien...
20   How many days before the application did clien...
21                                 Age of client's car
22       Did client provide mobile phone (1=YES, 0=NO)
23         Did client provide work phone (1=YES, 0=NO)
24         Did client provide home phone (1=YES, 0=NO)
25            Was mobile phone reachable (1=YES, 0=NO)
26         Did client provide home phone (1=YES, 0=NO)
27              Did client provide email (1=YES, 0=NO)
28        What kind of occupation does the client have
29            How many family members does client have
..                                                 ...
189                           Purpose of the cash loan
190  Contract status (approved, cancelled, ...) of ...
191  Relative to current application when was the d...
192  Payment method that client chose to pay for th...
193          Why was the previous application rejected
194  Who accompanied client when applying for the p...
195  Was the client old or new client when applying...
196  What kind of goods did the client apply for in...
197  Was the previous application for CASH, POS, CA...
198      Was the previous application x-sell o walk-in
199  Through which channel we acquired the client o...
200  Selling area of seller place of the previous a...
201                         The industry of the seller
202  Term of previous credit at application of the ...
203  Grouped interest rate into small medium and hi...
204  Detailed product combination of the previous a...
205  Relative to application date of current applic...
206  Relative to application date of current applic...
207  Relative to application date of current applic...
208  Relative to application date of current applic...
209  Relative to application date of current applic...
210  Did the client requested insurance during the ...
211  ID of previous credit in Home credit related t...
212                           ID of loan in our sample
213  Version of installment calendar (0 is for cred...
214            On which installment we observe payment
215  When the installment of previous credit was su...
216  When was the installments of previous credit p...
217  What was the prescribed installment amount of ...
218  What the client actually paid on previous cred...

                                   Special
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
5                                      NaN
6                                      NaN
7                                      NaN
8                                      NaN
9                                      NaN
10                                     NaN
11                                     NaN
12                                     NaN
13                                     NaN
14                                     NaN
15                                     NaN
16                             normalized
17   time only relative to the application
18   time only relative to the application
19   time only relative to the application
20   time only relative to the application
21                                     NaN
22                                     NaN
23                                     NaN
24                                     NaN
25                                     NaN
26                                     NaN
27                                     NaN
28                                     NaN
29                                     NaN
..                                     ...
189                                    NaN
190                                    NaN
191  time only relative to the application
192                                    NaN
193                                    NaN
194                                    NaN
195                                    NaN
196                                    NaN
197                                    NaN
198                                    NaN
199                                    NaN
200                                    NaN
201                                    NaN
202                                    NaN
203                                grouped
204                                    NaN
205  time only relative to the application
206  time only relative to the application
207  time only relative to the application
208  time only relative to the application
209  time only relative to the application
210                                    NaN
211                                 hashed
212                                 hashed
213                                    NaN
214                                    NaN
215  time only relative to the application
216  time only relative to the application
217                                    NaN
218                                    NaN

[219 rows x 5 columns]

In [28]:
app_train.head() # 列出首5列

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

In [38]:
app_train1.tail(n=3) # 列出末三列

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
10001355,1283126,315695,-21,10.0,0.0,Active,609,0
10001356,1082516,450255,-22,12.0,0.0,Active,614,0
10001357,1259607,174278,-52,16.0,0.0,Completed,0,0

#### 截取部分資料

In [57]:
app_train1.iloc[4] # 擷取ID第四列之資料

SK_ID_PREV               2341044
SK_ID_CURR                334279
MONTHS_BALANCE               -35
CNT_INSTALMENT                36
CNT_INSTALMENT_FUTURE         35
NAME_CONTRACT_STATUS      Active
SK_DPD                         0
SK_DPD_DEF                     0
Name: 4, dtype: object

In [71]:
app_train1.iloc[4,5] # 擷取ID第四列第6行資料

'Active'

In [79]:
app_train1.iloc[[4,5,6]] # 擷取ID第四到六列資料(多行輸出要加上[])

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
4,2341044,334279,-35,36.0,35.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0

In [73]:
app_train1.iloc[[4,5,6],[0,3]] # 擷取ID第四到六列資料的第1與第4變數

   SK_ID_PREV  CNT_INSTALMENT
4     2341044            36.0
5     2207092            12.0
6     1110516            48.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [75]:
app_train1.dtypes # 可知資料中變數的資料型態

SK_ID_PREV                 int64
SK_ID_CURR                 int64
MONTHS_BALANCE             int64
CNT_INSTALMENT           float64
CNT_INSTALMENT_FUTURE    float64
NAME_CONTRACT_STATUS      object
SK_DPD                     int64
SK_DPD_DEF                 int64
dtype: object

In [94]:
app_train1.columns # 資料欄位名稱,也可利用column name擷取資料

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'CNT_INSTALMENT',
       'CNT_INSTALMENT_FUTURE', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [119]:
app_train1["NAME_CONTRACT_STATUS"] # 利用column name擷取資料

0              Active
1              Active
2              Active
3              Active
4              Active
5              Active
6              Active
7              Active
8              Active
9              Active
10             Active
11             Active
12             Active
13             Active
14             Active
15             Active
16             Active
17             Active
18             Active
19             Active
20             Active
21             Active
22             Active
23             Active
24             Active
25             Active
26             Active
27             Active
28             Active
29             Active
              ...
10001328       Active
10001329       Active
10001330       Active
10001331       Active
10001332       Active
10001333       Active
10001334       Active
10001335       Active
10001336       Active
10001337       Active
10001338       Signed
10001339       Signed
10001340       Signed
10001341       Signed
10001342       Active
10001343       Signed
10001344       Active
10001345       Signed
10001346       Active
10001347       Active
10001348       Active
10001349       Active
10001350    Completed
10001351       Active
10001352       Active
10001353       Active
10001354       Active
10001355       Active
10001356       Active
10001357    Completed
Name: NAME_CONTRACT_STATUS, Length: 10001358, dtype: object

In [114]:
app_train1.loc[app_train1["NAME_CONTRACT_STATUS"]=="Active"] # 利用擷取擁有特定特徵文字資料

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
9,2371489,274851,-32,24.0,16.0,Active,0,0
10,2328294,287361,-32,12.0,12.0,Active,0,0
11,2023570,237959,-39,12.0,12.0,Active,0,0
12,1258390,278261,-32,36.0,36.0,Active,0,0
13,1627166,146161,-33,24.0,24.0,Active,0,0
14,1711625,131467,-34,12.0,5.0,Active,0,0
15,2374177,204722,-35,24.0,15.0,Active,0,0
16,1716688,405549,-33,12.0,1.0,Active,0,0
17,1846127,380050,-31,36.0,28.0,Active,0,0
18,1911764,312551,-32,24.0,16.0,Active,0,0
19,2645133,152810,-35,24.0,23.0,Active,0,0
20,1381005,195362,-34,60.0,56.0,Active,0,0
21,1366811,169489,-38,24.0,24.0,Active,0,0
22,1260621,244684,-32,18.0,12.0,Active,0,0
23,1445556,220181,-41,12.0,12.0,Active,0,0
24,1420240,386836,-41,12.0,11.0,Active,0,0
25,2631694,337149,-33,12.0,11.0,Active,0,0
26,1059679,139637,-31,12.0,12.0,Active,0,0
27,1865970,202091,-35,12.0,7.0,Active,0,0
28,2683316,454237,-32,18.0,15.0,Active,0,0
29,2759941,428330,-32,18.0,18.0,Active,0,0
...,...,...,...,...,...,...,...,...
10001320,1283126,315695,-20,10.0,0.0,Active,637,0
10001321,2291899,245255,-18,12.0,0.0,Active,642,0
10001322,2070694,377136,-21,6.0,0.0,Active,0,0
10001323,1798328,138871,-27,6.0,0.0,Active,947,0
10001324,1522999,385297,-20,12.0,0.0,Active,0,0
10001325,1369464,415697,-25,24.0,0.0,Active,320,0
10001326,1405736,180980,-22,6.0,0.0,Active,856,0
10001327,2762564,146490,-20,12.0,0.0,Active,629,0
10001328,2256531,422685,-20,6.0,0.0,Active,0,0
10001329,1540335,104779,-27,6.0,0.0,Active,0,0
10001330,1717234,141565,-18,12.0,0.0,Active,630,0
10001331,2476257,210494,-18,6.0,0.0,Active,0,0
10001332,2700641,448867,-18,6.0,0.0,Active,871,0
10001333,2715817,417692,-18,6.0,0.0,Active,948,0
10001334,2149359,305835,-19,12.0,0.0,Active,903,0
10001335,1074985,433445,-22,12.0,0.0,Active,0,0
10001336,1214793,292180,-21,12.0,0.0,Active,850,0
10001337,2305826,356195,-18,12.0,0.0,Active,804,0
10001342,1641388,165586,-19,10.0,0.0,Active,1063,0
10001344,1086035,102784,-26,24.0,0.0,Active,654,0
10001346,2210119,381218,-22,12.0,0.0,Active,1016,0
10001347,1522999,385297,-21,12.0,0.0,Active,0,0
10001348,2234984,191559,-22,6.0,0.0,Active,797,0
10001349,2340692,104125,-24,6.0,0.0,Active,944,0
10001351,2639809,288279,-25,6.0,0.0,Active,925,0
10001352,2700641,448867,-19,6.0,0.0,Active,843,0
10001353,2448283,226558,-20,6.0,0.0,Active,843,0
10001354,1717234,141565,-19,12.0,0.0,Active,602,0
10001355,1283126,315695,-21,10.0,0.0,Active,609,0
10001356,1082516,450255,-22,12.0,0.0,Active,614,0

In [132]:
app_train1.nlargest(3,"MONTHS_BALANCE")    #查詢MONTHS_BALANCE欄位中數值前3大的
app_train1.nsmallest(3,"MONTHS_BALANCE")   #查詢MONTHS_BALANCE欄位中數值前3小的

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
4025,1420056,308666,-96,6.0,0.0,Active,0,0
4028,1307551,287810,-96,12.0,1.0,Active,0,0
4042,2730818,108169,-96,10.0,3.0,Active,0,0